body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, white,rgb(207, 207, 207), aliceblue);
}
.div1{
    margin: 10px auto;
    display: grid;
    grid-template-columns: 300px;
    row-gap: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px;
    width: 320px;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.price1{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}
.card-img-top{
    width: auto !important;
    height: 200px;
    object-fit: cover;
}
.card-body{
    width: 200px !important;
}
.card{
    margin: 5px;
}
button, input{
    margin: 5px;
}
.filter{
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
}
.filterDiv{
     margin: 10px auto;
    display: grid;
    grid-template-columns: 300px;
    row-gap: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px;
    width: 320px;
}
