@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin button{
    border:1px solid #ddd;
    border-radius: 10px;
    padding:10px;
    text-align: center;
    text-transform: capitalize;
    font:15px poppins;
}
@mixin buttonhover{
    background-color:yellow;
    
}
nav{
    @include flex();
    border-bottom:1px solid #ddd;
    margin:0;
    padding:0;
   
    .registration{
        display: flex;
        font:15px poppins;
        a{
        text-decoration: none;
        margin:0 5px;
        }       
    }
    .search{
        input{
        border:1px solid #ddd;
        outline:none;
        border-radius:5px;
        padding:10px;
        width:30em;
        }
    }
    .logo{
        height:50px;
        width:100px;
        background-color:#fff;
    }
}
.karta{
    display:grid;
    grid-template-columns:repeat(3,400px);
    grid-gap:10px;
   .card{
        margin:25px 10%;
        border-radius: 10px;
        width: 35rem; 
        height:auto;
        h5{
            font:20px Poppins;
            color:#333333;
            padding: 15px 0;
        }
        p{
            font:12px Poppins;
            color:#BFBFBFBF;
        }
        img{
            height:150px;
            width:auto;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;

        }
    }
}
.card:hover{
    box-shadow: 0 0 5px 0;
   
}
.buttons{
    display: flex;
    
button{
   text-align: center;
   margin:auto;
   display: flex;
   align-items: center;
   justify-content: center;
    @include button();
    margin-bottom:25px;;
}
button:hover{
    @include buttonhover();
}
}
.rest{
    display:grid;
    grid-template-columns:repeat(3,400px);
    grid-gap:10px;
    
}
.mystyle{
    display: none;
}
.btnsecond a{
    text-decoration: none;
    color:black;

.btn{
    @include flex();
    button{
        border:none;
 
        color:#2C2C2C;
        background-color:#F0F0F0;
    }
}
