nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

nav .registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 20px poppins;
}
.sign_log{
  color: #333333;
}
.sign_log:hover{
  color: #333333;
  border-bottom: #333333 1px solid;
}
nav .registration a {
  text-decoration: none;
  margin: 0 5px;
}

nav .search input {
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  width: 30em;
}

nav .logo {
  height: 50px;
  width: 100px;
  background-color: #fff;
}

.karta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[3];
      grid-template-columns: repeat(3, 400px);
  grid-gap: 10px;
}

.karta .card {
  margin: 25px 10%;
  border-radius: 10px;
  width: 35rem;
  height: auto;
}

.karta .card h5 {
  font: 20px Poppins;
  color: #333333;
  padding: 15px 0;
}

.karta .card p {
  font: 12px Poppins;
  color: #BFBFBFBF;
}

.karta .card img {
  height: 150px;
  width: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card:hover {
  -webkit-box-shadow: 0 0 5px 0;
          box-shadow: 0 0 5px 0;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons button {
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  font: 15px poppins;
  margin-bottom: 25px;
}

.buttons button:hover {
  background-color: yellow;
}

.rest {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[3];
      grid-template-columns: repeat(3, 400px);
  grid-gap: 10px;
}

.mystyle {
  display: none;
}

.btnsecond a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=expres.css.map */